@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background: #000
  }
  
  a:link {
    color: #9cf;
  }
  
  a:hover, a:visited:hover {
    color: #cef;
  }
  
  a:visited {
    color: #c9f;
  }
}

body {
	margin: 1em auto;
	max-width: 40em;
	padding: 0 0.62em;
	font: 1.2em/1.62 sans-serif;
}

h1, h2, h3 {
	line-height: 1.2;
}

code {
  font-size: 1.5em;
}

textarea {
  font: inherit;
  box-sizing: border-box;
  width: 100%;
}

input {
  font-size: inherit;
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
}

input[type="submit"] {
  border-radius: 0.5em;
}

input[type="radio"] {
  width: 1em;
  height: 1em;
}

blockquote {
  font-style: italic;
}

.center {
  display: flex;
  justify-content: space-around;
}

aside, .aside {
  color: #888;
}

.qr {
    width: 300px;
    height: 300px;
}

.confirm {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media print {
	body {
		max-width: none;
	}
}
